<div class="news">
  <div class="news-wrap">
    <div class="news-item">
      <div class="news-title">
        Dictionary
      </div>
      <div class="news-content">
        <%= text_field_tag :word, nil, :placeholder => "Input English word" %>
        <div id="translation-result"></div>
        <button id="btn-translate">Translate</button>
      </div>
    </div>
  </div>
</div>
