<div class="news">
  <div class="news-wrap">
    <div class="news-item">
      <div class="news-title">
        Edit
      </div>
      <div class="news-content">
        <%= text_field_tag :"edit-id", nil, :placeholder => "ID" %>
        <button id="btn-edit">edit</button>
      </div>
    </div>
  </div>
</div>
