<div class="news">
  <div class="news-wrap">
    <div class="news-item">
      <div class="news-title">
        Formatter
      </div>
      <div class="news-content">
        <%= text_area_tag :"format-content", nil %>
        <button>Format</button>
      </div>
    </div>
  </div>
</div>
