<div class="news">
  <div class="news-wrap">
    <div class="news-item">
      <div class="news-title">
        Toolbox
      </div>
      <div class="news-content">
        <%= text_area_tag :"toolbox-content", nil %>
        <button id="btn-table"><%= icon("table") %></button>
      </div>
    </div>
  </div>
</div>
