<div class="news">
  <div class="news-wrap">
    <div class="news-item">
      <div class="news-title">
        Toolbox
      </div>
      <div class="news-content">
        <%= text_area_tag :content, nil %>
        <%= icon("table") %>
        <%= icon("flag-checkered") %>
        <%= icon("calendar-check-o") %>
      </div>
    </div>
  </div>
</div>
