<div class="section">
  <div class="section-wrap" id="chimera">
    <div class="section-item">
      <div class="section-title">
        Rugby News Board for China. Copyright &copy; David Zhang, 2017.
      </div>
      <div class="section-content">
      </div>
    </div>
  </div>

  <div class="section-wrap" id="chimera">
    <div class="section-item">
      <div class="section-title">
        为什么会有 Rugby News Board?
      </div>
      <div class="section-content">
        <p>
          英式橄榄球在国内人气真是少，既没有足球、乒乓球一样的群众基础，也没有 NBA、NFL 一样的商业推广。我曾是一个在澳大利亚的留学生，前往澳大利亚之前先了解一些当地的文化，其中有一块就是橄榄球。
          在澳大利亚，Rugby Union、Rugby League 和 Australian Football 三种“橄榄球”都很受欢迎。
        </p>
      </div>
    </div>
  </div>

  <div class="section-wrap" id="chimera">
    <div class="section-item">
      <div class="section-title">
        Rugby News Board 宗旨
      </div>
      <div class="section-content">
        <ul>
          <li>只做赛事相关的一手资讯</li>
          <li>所有资讯中的比赛和人名提供中英双语</li>
          <li>资讯不会做过多的描述，基本是一句话，当作微博看就好（后续，可能新闻全部同步发微博和 Twitter）</li>
          <li>不会提供太多社交能力，我讨厌遍地“抖机灵”以及网络暴力(Cyberbullying)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
