<div class="heading">
  <div class="heading-title" id="about">
    <%= icon("fw fa-tv") %> 直播
  </div>
</div>
<div class="columns">
  <div class="column column-1-3">
    <div class="news" id="live-source">
      <div class="news-wrap">
        <div class="news-item">
          <div class="news-title">
            网络直播
          </div>
          <div class="news-content">
            <a href="http://live.qq.com/10002418">企鹅直播：自由马</a>
          </div>
          <div class="news-content">
            主要直播大型比赛和7人制赛事，解说基本不说话，画质不高；其实就是 RugbyPass 的信号。
          </div>
          <div class="news-content">
            同时，自由马还有微信交流群，提供给粉丝们进行交流。想加入的可以联系我介绍进群。
          </div>
          <div class="news-content">
            <p><img src="/flying-horses-rfc.jpg" alt="flying-horses-rfc" /></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column column-1-3">
    <div class="news" id="live-chat">
      <div class="news-wrap">
        <div class="news-item">
          <div class="news-title">
            电视直播
          </div>
          <div class="news-content">
            <a href="http://tv.cctv.com/cctv5plus/">CCTV5+</a>
          </div>
          <div class="news-content">
            周六晚间直播英超比赛。预告信息请关注 CCTV5+ 官网或微信“橄榄球世界”公众号。
          </div>
          <div class="news-content">
            <p><img src="/cctv-5plus.png" alt="cctv-5plus" /></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column column-1-3">
    <div class="news" id="live-chat">
      <div class="news-wrap">
        <div class="news-item">
          <div class="news-title">
            付费直播
          </div>
          <div class="news-content">
            <a href="https://www.rugbypass.com/">RugbyPass</a>
          </div>
          <div class="news-content">
            专业的亚太地区橄榄球在线直播服务提供商，价格不贵，如果看得多可以考虑自购。
          </div>
          <div class="news-content" style="background-color: black;">
            <p><img src="/rugby-pass.png" alt="rugby-pass" /></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
