<div class="news">
  <div class="news-wrap" id="six-nations">
    <div class="news-item">
      <div class="news-title">
        南非库里杯 Currie Cup
      </div>
      <div class="news-content">
        <p>
          南非国内省级赛事。
        </p>
      </div>
      <div class="news-footer">
        <span class="news-channel">
          <a href="https://twitter.com/thecurriecup">官方 Twitter</a>
        </span>
        <span class="news-time">
          <a href="https://www.wikiwand.com/en/Currie_Cup">Wikipedia</a>
        </span>
      </div>
    </div>
  </div>
</div>
