<div class="news">
  <div class="news-wrap" id="six-nations">
    <div class="news-item">
      <div class="news-title">
        南非库里杯 Currie Cup
      </div>
      <div class="news-content">
        <p>
          库里杯 Currie Cup 是南非国内省级赛事。它是一项古老的赛事，起源于1889年，并在1892年正式成为 Currie Cup。最早参加比赛的球队是西部省 Western Province, 西格里夸兰 Griqualand West, 德兰士瓦 Transvaal 和东部省 Eastern Province。第一届库里杯比赛在金伯利进行，西部省最终获胜。
        </p>
        <p>
          库里杯的参赛球队：
          <table>
            <tr>
              <th>队名</th>
              <th>主场</th>
              <th>区域</th>
            </tr>
            <tr>
              <td>蓝色公牛 Blue Bulls</td>
              <td>比勒陀利亚 Pretoria</td>
              <td>比勒陀利亚都市圈和林波波省</td>
            </tr>
            <tr>
              <td>博兰骑兵 Boland Cavaliers</td>
              <td>惠灵顿 Wellington</td>
              <td>西开普省中、北部地区</td>
            </tr>
            <tr>
              <td>边境斗牛犬 Border Bulldogs</td>
              <td>东伦敦 East London</td>
              <td>东开普省东部</td>
            </tr>
            <tr>
              <td>东部省国王 Eastern Province Kings</td>
              <td>伊丽莎白港 Port Elizabeth</td>
              <td>东开普省西部</td>
            </tr>
            <tr>
              <td>猎鹰 Falcons</td>
              <td>肯普顿公园 Kempton Park</td>
              <td>东兰德省、豪登省除约翰内斯堡外的东、南部地区</td>
            </tr>
            <tr>
              <td>自由州猎豹 Free State Cheetahs</td>
              <td>布隆方丹 Bloemfontein</td>
              <td>自由州中、西部地区</td>
            </tr>
            <tr>
              <td>金色狮子 Golden Lions</td>
              <td>约翰内斯堡 Johannesburg</td>
              <td>约翰内斯堡和西兰德省</td>
            </tr>
            <tr>
              <td>兀鹫 Griffons</td>
              <td>韦尔科姆 Welkom</td>
              <td>自由州东、北部地区</td>
            </tr>
            <tr>
              <td>格里夸人 Griquas</td>
              <td>金伯利 Kimberley</td>
              <td>北开普省</td>
            </tr>
            <tr>
              <td>猎豹 Leopards</td>
              <td>波切夫斯特鲁姆 Potchefstroom</td>
              <td>西北省</td>
            </tr>
            <tr>
              <td>美洲狮 Pumas</td>
              <td>姆博贝拉 Mbombela</td>
              <td>普马兰加省（东德兰士瓦）</td>
            </tr>
            <tr>
              <td>鲨鱼 Sharks</td>
              <td>德班 Durban</td>
              <td>夸祖鲁-纳塔尔省</td>
            </tr>
            <tr>
              <td>老鹰 SWD Eagles</td>
              <td>乔治 George</td>
              <td>西开普省东部地区</td>
            </tr>
            <tr>
              <td>西部省 Western Province</td>
              <td>开普敦 Cape Town</td>
              <td>开普敦都市圈</td>
            </tr>
          </table>
        </p>
        <p>
          2016年，纳米比亚的 Welwitschias 和阿根廷 Jaguares XV 也加入了库里杯。
        </p>
        <p>
          在战绩方面，西部省获得过34次冠军，蓝色公牛23次，金色狮子11次，鲨鱼8次，自由州猎豹5次，格里夸人3次，边境斗牛犬2次。
        </p>
      </div>
      <div class="news-footer">
        <span class="news-channel">
          <a href="https://twitter.com/thecurriecup">官方 Twitter</a>
        </span>
        <span class="news-time">
          <a href="https://www.wikiwand.com/en/Currie_Cup">Wikipedia</a>
        </span>
      </div>
    </div>
  </div>
</div>
