<div class="news">
  <div class="news-wrap" id="six-nations">
    <div class="news-item">
      <div class="news-title">
        美国橄榄球大联盟
      </div>
      <div class="news-content">
        <p>
          美国橄榄球大联盟 Major League Rugby。
        </p>
      </div>
      <div class="news-footer">
        <span class="news-channel">
          <a href="https://www.usmlr.com/">官网</a>
        </span>
        <span class="news-time">
          <a href="https://en.wikipedia.org/wiki/Major_League_Rugby">Wikipedia</a>
        </span>
      </div>
    </div>
  </div>
</div>
