<div class="news">
  <div class="news-wrap" id="six-nations">
    <div class="news-item">
      <div class="news-title">
        美国橄榄球大联盟 Major League Rugby
      </div>
      <div class="news-content">
        <p>
          2016年9月，至少美国5家业余橄榄球开始讨论成立职业联赛的可能性。2017年，总共9家业余橄榄球组织包括：奥斯丁凶人 Austin Huns、达拉斯狮鹫 Dallas Griffins、格伦代尔猛禽 Glendale Raptors、休斯顿打击者 Houston Strikers、堪萨斯城蓝调 Kansas City Blues、明尼阿波利斯 Minneapolis、新奥尔良 New Orleans RFC、犹他 Rugby Utah 和西雅图萨拉森 Seattle Saracens 在内，宣布在次年举办职业联赛。
        </p>
        <p>
          MLR 第一赛季在2018年4月21日启动。2019赛季，多伦多箭头 Toronto Arrows 成为第一支加入 MLR 的加拿大球队。另有3只美国球队将于在2020年加入。
        </p>
        <p>
          <ul>MLR 现有球队：
            <li>奥斯丁精英 Austin Elite</li>
            <li>格伦代尔猛禽 Glendale Raptors</li>
            <li>休斯顿刃豹 Houston SaberCats</li>
            <li>新奥尔良黄金 New Orleans Gold</li>
            <li>纽约联 Rugby United New York</li>
            <li>圣迭戈军团 San Diego Legion</li>
            <li>西雅图海狼 Seattle Seawolves</li>
            <li>多伦多箭 Toronto Arrows</li>
            <li>犹他勇士 Utah Warriors</li>
          </ul>
          <ul>MLR 即将加入的球队：
            <li>新英格兰 New England Free Jacks</li>
            <li>华盛顿星条旗 Old Glory DC</li>
            <li>亚特兰大 Rugby ATL</li>
            <li>达拉斯 Dallas MLR Team</li>
          </ul>
        </p>
        <p>
          MLR 常规赛采用双循环赛制，季后赛决出冠军。MLR 同其它美国体育赛事一样，没有升降级制度。
        </p>
        <p>
          2018年和2019年冠军均为西雅图海狼 Seattle Seawolves。
        </p>
      </div>
      <div class="news-footer">
        <span class="news-channel">
          <a href="https://www.usmlr.com/">官网</a>
        </span>
        <span class="news-time">
          <a href="https://en.wikipedia.org/wiki/Major_League_Rugby">Wikipedia</a>
        </span>
      </div>
    </div>
  </div>
</div>
