<div class="news">
  <div class="news-wrap">
    <div class="news-item">
      <b>国家队赛事</b>
      <ul>
        <li><a href="/wiki/rugby-championship">橄榄球冠军赛 The Rugby Championship</a></li>
        <li><a href="/wiki/six-nations">欧洲六国赛 Six Nations</a></li>
        <li><a href="/wiki/rugby-world-cup">橄榄球世界杯 Rugby World Cup</a></li>
        <li><a href="/wiki/british-and-irish-lions">不列颠和爱尔兰狮子 British & Irish Lions</a></li>
      </ul>
      <b>俱乐部赛事</b>
      <ul>
        <li><a href="/wiki/super-rugby">超级橄榄球 Super Rugby</a></li>
        <li><a href="/wiki/pro14">凯尔特 PRO14 联赛</a></li>
        <li><a href="/wiki/premiership">英格兰超级联赛 Premiership</a></li>
        <li><a href="/wiki/top14">法国 Top 14 联赛</a></li>
      </ul>
      <b>国内赛事</b>
      <ul>
        <li><a href="/wiki/top-league">日本 Top League 联赛</a></li>
        <li><a href="/wiki/currie-cup">南非库里杯 Currie Cup</a></li>
        <li><a href="/wiki/mitre-10-cup">新西兰 Mitre 10 Cup</a></li>
        <li><a href="/wiki/national-rugby-championship">澳大利亚国家橄榄球冠军赛 NRC</a></li>
        <li><a href="/wiki/major-league-rugby">美国橄榄球大联盟 MLR</a></li>
      </ul>
    </div>
  </div>
</div>
