<div class="news">
  <div class="news-wrap" id="six-nations">
    <div class="news-item">
      <div class="news-title">
        新西兰 Mitre 10 Cup
      </div>
      <div class="news-content">
        <p>
          新西兰国内省级赛事，总共有14支球队参加，分为超级组和冠军组。Mitre 10 是赞助商的名字，此前曾用名为新西兰航空杯和 ITM 杯。该杯赛发源自2006年的新西兰省级冠军杯。
        </p>
        <p>
          该杯赛每次进行11周，超级橄榄球结束两周后开始进行，每只球队打10场比赛，每周两场。
        </p>
        <p>
          超级组参赛球队：
          <table>
            <tr>
              <th>队名</th>
              <th>城市</th>
              <th>球场</th>
              <th>创建时间</th>
            </tr>
            <tr>
              <td>奥克兰 Auckland</td>
              <td>奥克兰</td>
              <td>Eden Park</td>
              <td>1883</td>
            </tr>
            <tr>
              <td>坎特伯雷 Canterbury</td>
              <td>克赖斯特彻奇 Christchurch</td>
              <td>AMI Stadium</td>
              <td>1879</td>
            </tr>
            <tr>
              <td>玛努考县 Counties Manukau</td>
              <td>Pukekohe</td>
              <td>ECOLight Stadium</td>
              <td>1955</td>
            </tr>
            <tr>
              <td>北港 North Harbour</td>
              <td>奥克兰</td>
              <td>QBE Stadium</td>
              <td>1985</td>
            </tr>
            <tr>
              <td>塔拉纳基 Taranaki</td>
              <td>新普利茅斯 New Plymouth</td>
              <td>Yarrow Stadium</td>
              <td>1885</td>
            </tr>
            <tr>
              <td>塔斯曼 Tasman</td>
              <td>纳尔逊 Nelson</td>
              <td>Trafalgar Park<br>Lansdowne Park</td>
              <td>2006</td>
            </tr>
            <tr>
              <td>惠灵顿 Wellington</td>
              <td>惠灵顿</td>
              <td>Westpac Stadium</td>
              <td>1879</td>
            </tr>
          </table>
        </p>
        <p>
          冠军组参赛球队：
          <table>
            <tr>
              <th>队名</th>
              <th>城市</th>
              <th>球场</th>
              <th>创建时间</th>
            </tr>
            <tr>
              <td>普伦蒂湾 Bay of Plenty</td>
              <td>芒格努伊山 Mount Maunganui</td>
              <td>Rotorua International Stadium<br>Tauranga Domain</td>
              <td>1911</td>
            </tr>
            <tr>
              <td>霍克斯湾 Hawke's Bay</td>
              <td>纳皮尔 Napier</td>
              <td>McLean Park</td>
              <td>1884</td>
            </tr>
            <tr>
              <td>马纳瓦图 Manawatu</td>
              <td>帕尔默斯顿诺斯 Palmerston North</td>
              <td>Central Energy Trust Arena</td>
              <td>1886</td>
            </tr>
            <tr>
              <td>北地 Northland</td>
              <td>旺阿雷 Whangarei</td>
              <td>Toll Stadium</td>
              <td>1920</td>
            </tr>
            <tr>
              <td>奥塔戈 Otago</td>
              <td>达尼丁 Dunedin</td>
              <td>Forsyth Barr Stadium</td>
              <td>1881</td>
            </tr>
            <tr>
              <td>南地 Southland</td>
              <td>因弗卡吉尔 Invercargill</td>
              <td>Rugby Park Stadium</td>
              <td>1887</td>
            </tr>
            <tr>
              <td>怀卡托 Waikato</td>
              <td>汉密尔顿 Hamilton</td>
              <td>FMG Stadium Waikato</td>
              <td>1921</td>
            </tr>
          </table>
        </p>
      </div>
      <div class="news-footer">
        <span class="news-channel">
          <a href="http://www.mitre10cup.co.nz/">官网</a>
        </span>
        <span class="news-time">
          <a href="https://www.wikiwand.com/en/Mitre_10_Cup">Wikipedia</a>
        </span>
      </div>
    </div>
  </div>
</div>
