<div class="news">
  <div class="news-wrap" id="six-nations">
    <div class="news-item">
      <div class="news-title">
        澳大利亚国家橄榄球冠军赛 National Rugby Championship
      </div>
      <div class="news-content">
        <p>
          国家橄榄球冠军赛 National Rugby Championship 是澳大利亚国内省级赛事，简称为 NRC。
        </p>
        <p>
          NRC 常规赛为单循环赛，前四名进入季后赛争夺冠军。
        </p>
        <p>
          NRC 的参赛球队：
          <table>
            <tr>
              <th>队名</th>
              <th>区域和关联俱乐部</th>
            </tr>
            <tr>
              <td>布里斯班城 Brisbane City</td>
              <td>昆士兰橄榄球协会/红 Reds</td>
            </tr>
            <tr>
              <td>堪培拉维京人 Canberra Vikings</td>
              <td>澳大利亚首都领地橄榄球协会和南新南威尔士橄榄球协会/Tuggeranong Vikings</td>
            </tr>
            <tr>
              <td>斐济德鲁阿 Fijian Drua</td>
              <td>斐济橄榄球协会</td>
            </tr>
            <tr>
              <td>新南威尔士乡村 NSW Country</td>
              <td>新南威尔士橄榄球协会/悉尼大学、东悉尼、兰德威克 Randwick</td>
            </tr>
            <tr>
              <td>墨尔本上升 Melbourne Rising</td>
              <td>维多利亚橄榄球协会/背叛者 Rebels</td>
            </tr>
            <tr>
              <td>昆士兰乡村 Queensland Country</td>
              <td>昆士兰橄榄球协会/红 Reds</td>
            </tr>
            <tr>
              <td>悉尼射线 Sydney Rays</td>
              <td>戈登 Gordon、曼利 Manly、北悉尼、华令加 Warringah</td>
            </tr>
            <tr>
              <td>西部力量 Western Force</td>
              <td>西澳大利亚橄榄球协会/力量 Force</td>
            </tr>
          </table>
        </p>
        NRC 夺冠球队：
          <table>
            <tr>
              <th>队名</th>
              <th>夺冠次数</th>
              <th>夺冠年份</th>
            </tr>
            <tr>
              <td>布里斯班城</td>
              <td>2</td>
              <td>2014, 2015</td>
            </tr>
            <tr>
              <td>西部力量</td>
              <td>1</td>
              <td>2016</td>
            </tr>
            <tr>
              <td>昆士兰乡村</td>
              <td>1</td>
              <td>2017</td>
            </tr>
            <tr>
              <td>斐济德鲁阿</td>
              <td>1</td>
              <td>2018</td>
            </tr>
          </table>
        <p>
        </p>
      </div>
      <div class="news-footer">
        <span class="news-channel">
          <a href="http://www.rugby.com.au/competitions/nrc">官网</a>
        </span>
        <span class="news-time">
          <a href="https://www.wikiwand.com/en/National_Rugby_Championship">Wikipedia</a>
        </span>
      </div>
    </div>
  </div>
</div>
