<div class="section">
  <div class="section-wrap hover-effect" id="premiership-rugby">
    <div class="section-item">
      <div class="section-title">
        英格兰超级联赛 Premiership Rugby
      </div>
      <div class="section-content">
        <p>
          英格兰橄榄球超级联赛 Premiership Rugby 由12支球队组成，
        </p>
      </div>
      <div class="section-footer">
        <span class="section-channel left">
          <a href="http://www.premiershiprugby.com/">官网</a>
        </span>
        <span class="section-time right">
          <a href="https://www.wikiwand.com/en/Premiership_Rugby">Wikipedia</a>
        </span>
      </div>
    </div>
  </div>
</div>