<div class="news">
  <div class="news-wrap hover-effect" id="top14-rugby">
    <div class="news-item">
      <div class="news-title">
        法国 Top 14 联赛
      </div>
      <div class="news-content">
        <p>
          Top 14 联赛成立于1892年，是法国橄榄球协会举办的最高级别橄榄球联赛。最初的对决发生在法兰西竞技场 Stade Français 和法国竞技 Racing Club de France （现在的竞技92）之间。
        </p>
        <p>
        Top 14 参赛球队：
          <table>
            <tr>
              <th>队名</th>
              <th>城市</th>
              <th>主场容量</th>
            </tr>
            <tr>
              <td>SU Agen Lot-et-Garonne</td>
              <td>阿让 Agen</td>
              <td>14,000</td>
            </tr>
            <tr>
              <td>Union Bordeaux Bègles</td>
              <td>波尔多 Bordeaux</td>
              <td>34,694</td>
            </tr>
            <tr>
              <td>Castres Olympique</td>
              <td>卡斯特尔 Castres</td>
              <td>12,500</td>
            </tr>
            <tr>
              <td>ASM Clermont Auvergne</td>
              <td>克莱蒙-费朗 Clermont-Ferrand</td>
              <td>19,022</td>
            </tr>
            <tr>
              <td>FC Grenoble</td>
              <td>格勒诺布尔 Grenoble</td>
              <td>20,068</td>
            </tr>
            <tr>
              <td>Lyon OU</td>
              <td>里昂 Lyon</td>
              <td>25,000</td>
            </tr>
            <tr>
              <td>Montpellier</td>
              <td>蒙彼利埃 Montpellier</td>
              <td>15,697</td>
            </tr>
            <tr>
              <td>Section Paloise</td>
              <td>波城 Pau</td>
              <td>18,324</td>
            </tr>
            <tr>
              <td>USA Perpignan </td>
              <td>佩皮尼昂 Perpignan</td>
              <td>16,600</td>
            </tr>
            <tr>
              <td>竞技92 Racing 92</td>
              <td>南泰尔 Nanterre</td>
              <td>30,681</td>
            </tr>
            <tr>
              <td>Stade Rochelais</td>
              <td>拉罗谢尔 La Rochelle</td>
              <td>16,000</td>
            </tr>
            <tr>
              <td>Stade Français</td>
              <td>巴黎 Paris</td>
              <td>20,000</td>
            </tr>
            <tr>
              <td>RC Toulonnais</td>
              <td>土伦 Toulon</td>
              <td>18,300</td>
            </tr>
            <tr>
              <td>Stade Toulousain</td>
              <td>图卢兹 Toulouse</td>
              <td>19,500</td>
            </tr>
          </table>
        </p>
        <p>
          注：Top 14 俱乐部实际在英文世界通常用的是城市名
        </p>
        <p>
          Top 14 联赛经济实力十分强大。由于比赛的高上座率、大电视转播合同、公共补助、欧元升值等因素，Top 14 球队投入连年增长。2011–2012 赛季，有四只俱乐部投入超过2000万欧元。2010年 Top 14 球员人员年薪达到 $153,700 美元，而与此同时英超只有 $123,000。Top 14 的“富裕”吸引了大量的国家球队，并且可以让球队拥有更强的板凳深度。2011年，Top 14 球队一线队有45名球员，而2010年英超冠军莱斯特老虎 Leicester Tigers 只有33人。
        </p>
        <p>
          近些年一些政策抑制了球队的投入。法国政府在2010颁布DIC法，允许专业运动协会将30%的球员收入作为肖像权费用；法国橄榄球协会在2010-2011赛季引入工资帽，球队年薪被限制在总共€8百万欧元。
        </p>
      </div>
      <div class="news-footer">
        <span class="news-channel left">
          <a href="http://www.lnr.fr/rugby-top-14">官网</a>
        </span>
        <span class="news-time right">
          <a href="https://www.wikiwand.com/en/Top_14">Wikipedia</a>
        </span>
      </div>
    </div>
  </div>
</div>
