<div class="section">
  <div class="section-wrap hover-effect" id="top14-rugby">
    <div class="section-item">
      <div class="section-title">
        法国 TOP14 联赛
      </div>
      <div class="section-content">
        <p>
          TODO
        </p>
      </div>
      <div class="section-footer">
        <span class="section-channel left">
          <a href="http://www.lnr.fr/rugby-top-14">官网</a>
        </span>
        <span class="section-time right">
          <a href="https://www.wikiwand.com/en/Top_14">Wikipedia</a>
        </span>
      </div>
    </div>
  </div>
</div>