<div class="section">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        赛事介绍
      </div>
    </div>
  </div>
</div>

<%= render partial: @event_name %>
