<div class="section">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        赛事介绍
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-wrap hover-effect" id="the-rugby-championship">
    <div class="section-item">
      <div class="section-title">
        橄榄球冠军赛 The Rugby Championship
      </div>
      <div class="section-content">
        <p>
          橄榄球冠军赛是南北球最强的国家队赛事，它的前身是1996年开始的原来由南非、新西兰和澳大利亚三国参加的三国赛 Tri Nations。后来由于阿根廷的加入，2012年更名为橄榄球冠军赛 The Rugby Championship。
        </p>
        <p>
          橄榄球冠军赛参赛四支球队实力最为均衡，其中有世界排名第一、三次世界杯冠军得主新西兰“全黑”队 All Blacks，两次世界杯冠军得主南非“跳羚”队 Springboks，以及另一支两次世界杯得主澳大利亚“小袋鼠”队 Wallabies。而被认为实力较弱的后来加入的阿根廷队，实力也不容小觑，2015年橄榄球世界杯，南半球这四支参赛队包揽了四强。
        </p>
      </div>
      <div class="section-footer">
        <span class="section-channel left">
          <a href="http://www.sanzarrugby.com/therugbychampionship/">官网</a>
        </span>
        <span class="section-time right">
        </span>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-wrap hover-effect" id="six-nations">
    <div class="section-item">
      <div class="section-title">
        欧洲六国赛 Six Nations
      </div>
      <div class="section-content">
      </div>
      <div class="section-footer">
        <span class="section-channel left">
          TODO
        </span>
        <span class="section-time right">
        </span>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-wrap hover-effect" id="rugby-world-cup">
    <div class="section-item">
      <div class="section-title">
        橄榄球世界杯 Rugby World Cup
      </div>
      <div class="section-content">
      </div>
      <div class="section-footer">
        <span class="section-channel left">
          TODO
        </span>
        <span class="section-time right">
        </span>
      </div>
    </div>
  </div>
</div>
