<div>
  <div class="heading">
    <div class="heading-title" id="latest-results">
      <%= icon("fw fa-info-circle") %> <%= @display_name %>
    </div>
  </div>
  <div class="columns">
    <div class="column column-1-3">
      <%= render partial: "menu" %>
    </div>
    <div class="column column-2-3">
      <% cache do %>
        <%= render partial: @event_name %>
      <% end %>
    </div>
  </div>
</div>
