<div class="columns">
  <div class="column">
    <div class="heading">
        <div class="heading-title" id="latest-results">
          <%= icon("fw fa-info-circle") %> 赛事介绍
        </div>
    </div>
    <%= render partial: "menu" %>
  </div>
</div>
