<div class="section">
  <div class="section-wrap" id="news-<%= @news.id %>">
    <div class="section-item">
      <div class="section-title">
      <%= @news.title %>
      </div>
      <% if @news.content.size != 0 %>
      <div class="section-content">
        <%= raw @news.markdown_content %>
      </div>
      <% end %>
      <div class="section-time">
        <%= @news.created_at.strftime("%H:%M %Y-%m-%d") %>
      </div>
    </div>
  </div>
</div>
