<div class="section">
  <% @news.each do |n| %>
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
      [<%= n.created_at.strftime("%Y-%m-%d") %>]
      <%= n.title %>
      </div>
      <div class="section-content">
      <%= n.content %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="section">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        <%= link_to "订阅 RSS", controller: "news", action: "feed" %>
      </div>
    </div>
  </div>
</div>
