<div class="section">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        六国赛 Six Nations
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        <img src="http://paddyosheasbeijing.com/wordpress/wp-content/uploads/2016/09/cropped-logo-top-5.png">
      </div>
      <div class="section-content">
        <p>推荐观看地点：Paddy O'Shea's 爱尔兰酒吧</p>
        <p>对阵：
          <ul>
            <li>Feb 25th, 22:25 苏格兰 v. 威尔士</li>
            <li>Feb 26th, 00:50 爱尔兰 v. 法国</li>
            <li>Feb 26th, 23:00 英格兰 v. 意大利</li>
          </ul>
        </p>
        <p>
          详细信息：<a href="http://paddyosheasbeijing.com/event/6-nations-2017/2017-02-25/?from=rugbynewsboard">http://paddyosheasbeijing.com/event/6-nations-2017/2017-02-25/</a>
        </p>
      </div>
    </div>
  </div>
</div>