/*
 *= require_self
 *= require_tree .
 */

/*
 * Theme of Rugby News Board
 * Copyright(c) David Zhang, 2017
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$page-breakpoint: 80rem;
$font-breakpoint: 48rem;

* {
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 16px;
}
@media (max-width: $font-breakpoint) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #fbfbfb;
  word-wrap: break-word;
  text-align: center;
  height: 100%;
  width: 100%;
}
body ::selection {
  background-color: #333;
  color: #fbfbfb;
}
footer {
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
.container {
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 3rem;
}
@media (max-width: $page-breakpoint) {
  .container {
    width: 100%;
    padding-left: 0;
  }
}
p {
  margin: .8rem 0 0 0;
}
table {
  width: 100%;
  border-spacing: 0;
}
th {
  background-color: #facb5b;
  padding: .2rem .4rem .2rem .4rem;
}
tr:hover {
  background-color: #facb5b;
}
a {
  text-decoration: none;
  color: #333;

  &:hover {
    text-decoration: underline;
  }
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.mid {
  text-align: center;
}
img {
  max-width: 100%
}