/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * Theme of Crisp Wiki
 * Copyright(c) David Zhang, 2016
 */
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 16px;
}
@media (max-width: 42rem) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #fbfbfb;
  word-wrap: break-word;
  text-align: center;
  height: 100%;
}
footer {
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
p {
  margin: .8rem 0 0 0;
}
table {
  width: 100%;
  border-spacing: 0;
}
th {
  background-color: #facb5b;
  padding: .2rem .4rem .2rem .4rem;
}
tr:hover {
  background-color: #facb5b;
}
th:first-child, td:first-child {
  width: 40%;
}
th:nth-child(2) {
  text-align: center;
}
td:nth-child(2) {
  text-align: center;
}
th:last-child, td:last-child {
  width: 40%;
  text-align: right;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 3rem;
}
@media (max-width: 42rem) {
  .container {
    padding-left: .4rem;
    padding-right: .4rem;
  }
  .site-menu a {
    font-size: 1.2rem;
  }
}
.menu {
  padding-top: 1rem;
  text-align: center;
}
.site-name {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: .6rem;
  border-radius: .2rem;
  background-color: #333;
}
.site-name a {
  color: white;
  text-decoration: none;
}
.site-name a:hover {
  text-decoration: none;
}
.site-menu {
  font-size: 1rem;
}
.site-menu a:hover {
  text-decoration: underline;
}
.section {
  text-align: left;
  margin-top: 1rem;
}
@media (max-width: 42rem) {
  .section {
    padding-left: .4rem;
  }
}
.section-wrap {
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 .1rem .4rem 0 #ddd;
  padding: 1rem;
}
.section-item {
  display: block;
  line-height: 1.25;
  overflow: auto;
}
.section-title {
  width: 100%;
}
.section-content {
  padding-top: 1rem;
  padding-right: .5rem;
  width: 100%;
}
.section-time {
  color: #bbb;
  font-style: italic;
  text-align: right;
}
.section-time a {
  color: #bbb;
}
.info {
  background-color: #6ec3b4;
}
.info a {
  color: #393c40;
}
.hint {
  background-color: #facb5b;
}
.warning {
  background-color: #e95260;
}
.hover-effect:hover {
  box-shadow: 0 .1rem .4rem .1rem #ddd;
}
