.section {
  text-align: left;
}
.section-wrap {
  background-color: #ffffff;
  padding: 0 1rem 0 1rem;
}
.section-item {
  display: block;
  line-height: 1.25;
  overflow: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa;

  &:last-of-type {
    border-bottom: 0;
  }
}
.section-title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}
.section-content {
  padding-top: .8rem;
  font-size: 1.2rem;
  width: 100%;
}
.section-footer {
  padding-top: .8rem;
  color: #bbb;
  display: flex;
  line-height: 1.25;
}
.section-channel {
  text-align: left;
  width: 50%;
}
.section-time {
  font-style: italic;
  text-align: right;
  width: 50%;
  a {
    color: #bbb;
  }
}
.section-headline {
  font-size: 1.4rem;
  line-height: 2rem;
  background-color: #333;
  a {
    color: #fbfbfb;
  }
}
.section-results {
  th:first-child, td:first-child {
    width: 40%;
  }
  th:nth-child(2) {
    text-align: center;
  }
  td:nth-child(2) {
    text-align: center;
  }
  th:last-child, td:last-child {
    width: 40%;
    text-align: right;
  }
}
.section-top {
  &:before {
    content: "top";
    background-color: #e95260;
    font-size: 1.2rem;
    padding: .2rem .4rem .2rem .4rem;
  }
}
.blank {
  background-color: #fbfbfb;
}
.info {
  background-color: #6ec3b4;
  a {
    color: #393c40;
  }
}
.hint {
  background-color: #facb5b;
}
.warning {
  background-color: #e95260;
}
